body{
    font-family: Helvetica,sans-serif;
}
.news{
    margin: 30px auto;
    width: 1000px;
}

.news .row img{
    float: left;
    /* min-width: 100%; */
    width: 292px;
    height: 368px;
}
.news .col-4{
    float: left;
}
.news .row .col-8{
    float: right;
    width: 640px;
}
.clearfix{
    zoom: 1;
}
.clearfix:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.news .detail{
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    border-radius: 4px;
    display: block;
    height: 28px;
    line-height: 3px;
    padding: 17px;
    min-width: 50px;
    cursor: pointer;
    transition: 0.3s background-color;
}
.news .detail:hover{
    background-color: #000;
    color: #fff;
}
.news .col-8 .news-text h2{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 27px;
}
.news .col-8 .news-text .text{
    margin-bottom: 27px;
}